@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital@1&family=Roboto+Slab&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Slab", serif;
}
